
        <div align="center">
            <div style="width:300px; border: solid 1px #333333; " align="left">
                <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>retrieve</b></div>

                <div style="margin:30px">

                    <form >
                        <label>Name  &nbsp;&nbsp;&nbsp;:</label><input ng-model="name" class="box" /><br /><br />
                        <input type="button" value="OK" ng-click="myFunc()" />
                    </form>


                </div>



            </div>

        </div><br><br><br><br><br>
          <div align="center">
        <div style="width:300px; border: solid 1px #333333; " align="left">
            <div style="background-color:#333333; color:#FFFFFF; padding:3px;"><b>update</b></div>

            <div style="margin:30px">

    
                <form><label>PRODUCT DETAILS &nbsp;&nbsp;&nbsp;</label><br><br><br>
                    
                    <label>Name  &nbsp;&nbsp;&nbsp;:</label>
                    <input ng-model="name" class="box" /><br /><br />
                    <label>Id  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label><input ng-model="email" class="box" /><br/><br 
                    <label>Qty  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</label><input ng-model="mob" class="box" /><br /><br />
                    <label>Price&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;:</label><input ng-model="city" class="box" /><br/><br />
                    <label>Brand  &nbsp;&nbsp;&nbsp;&nbsp;:</label><input ng-model="pincode" class="box" /><br/><br />
                    <input align="center" type="button" value="OK" ng-click="myFunc1()" />
                </form>
            

    </form>

            </div>

        </div>

    </div>